registry=https://registry.npmjs.org/
save-exact=true
engine-strict=true
auto-install-peers=true
progress=false
loglevel=error
cache-min=3600
fetch-retries=3
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000